body {
  background-color: lightgray;
  padding: 0;
  margin: 0;
}

form {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin: 8% auto;
  background-color: white;
}

fieldset {
  border: 0;
}

fieldset label {
  display: block;
  text-align: left;
  margin: 7% 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

fieldset input {
  margin: 2% 0%;
  display: block;
  width: 100%;
  padding: 4% 0%;
  border: 0.5px solid black;
  border-radius: 3px;
}

fieldset input:hover {
  border: 2px solid #0077c5;
}

footer {
  background-color: lightgray;
  margin: 0;
}

footer p {
  margin: 0;
  padding: 4%;
  text-align: center;
  font-size: 0.8em;
}

fieldset button {
  width: 100%;
  padding: 15px 20px;
  background-color: #0077c5;
  color: white;
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
}

fieldset button i {
  margin: 0 10px;
}

.sign-in-btn {
  margin: 2% 0;
  margin-left: 75%;
  padding: 0;
  display: flex;
}

.sign-in-btn button {
  padding: 5px 15px;
  background-color: #0077c5;
  color: white;
  text-align: center;
  font-size: 1em;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  margin-left: 3%;
}

.sign-in-btn button i {
  color: white;
  margin: 0 3px;
}

.sign-in-btn p {
  margin: 0;
}

.logos {
  text-align: center;
}

.logos img {
  width: 118px;
  height: 35px;
}

.logos-list {
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin-left: 38%;
  padding: 0;
  display: flex;
}

.logos-list img {
  width: 23px;
  height: 23px;
}

.logos-list li {
  font-family: sans-serif;
  color: gray;
  margin: 0% 0.2%;
  font-size: 1.3em;
  padding: 0% 0.5%;
}

.footer {
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  color: gray;
  margin: -3% 0;
}

.footer ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  margin-left: 42.5%;
  padding: 0;
}

.footer ul li {
  margin: 0 1%;
}

.footer p {
  padding: 0;
}
